

a:link{
    text-decoration: none;
}
.contants_header{
    background-color: black;
    height: 30px;
}
.bosscontainer{
    text-align: center;
    padding: 25px 5vw;
    background: #181818;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    top: 97px;
    padding-top: 16.3px;
    padding-bottom: 11px;
}
.GobackIndexButton{
    font-size: 45.6px;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 30px;
}
.header{
    box-shadow: 4px 4px 4px #000;
    background-color: black;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background-color:#363636;
}

#Welcome{
    font-size: 41px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgray;
}
.imgsize{
    width: 275px;
    height: 150px;
    margin-top: 30px;
    margin: 10px;
    box-shadow: 7px 7px 7px #000;
}
#movieAtagcontainer{
    /* text-align: center; */
    margin-bottom: 26px;
}